<% title("Home Page") %>

<div class="row">
  <div class="col-xs-12 col-md-4">
    <%= image_tag("http://placekitten.com/g/350/150",  alt: "") %>
    <p>Our Programs</p>
  </div><!--/.col-xs-12.col-md-4 -->

  <div class="col-xs-12 col-md-4">
    <%= image_tag("http://placekitten.com/350/150",  alt: "") %>
    <p>Our Locations</p>
  </div><!--/.col-xs-12.col-md-4 -->

  <div class="col-xs-12 col-md-4">
    <%= image_tag("http://placekitten.com/g/350/150",  alt: "") %>
    <p>Our Supporters</p>
  </div><!--/.col-xs-12.col-md-4 -->
</div>

<hr>

<p class="lead text-center">Lead text... Lorem ipsum Cupidatat laboris in occaecat occaecat nulla qui ad veniam laboris aliquip sed.</p>

<hr>

<section>
  <div class="page-header">
    <h2>Our Mission</h2>
  </div>

  <p>Lorem ipsum Esse fugiat eu qui consectetur irure sit in exercitation qui ut cillum ullamco nulla in non pariatur minim do esse aute adipisicing fugiat ex veniam elit ut aliquip amet Ut officia mollit qui voluptate dolor eu consectetur.</p>
</section>

<div class="row">
  <div class="col-xs-6">
    <%= image_tag("http://placekitten.com/g/400/200",  alt: "Graph Kitten") %>
  </div>
  <div class="col-xs-4 col-xs-offset-2">
    <%= image_tag("http://placekitten.com/g/250/200",  alt: "Another Graph Kitten") %>
  </div>
</div>
